h3.titulos {
    color: blue;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    font-size: 25px;
}
h4 {
    color:     #191970;
    font-style: italic;
}

button {
    background: #9370db;
    border-radius: 20px;
    width:150px;
    height:40px;
    color: black;
    font-weight: bold;
    font-size:18px;
    font-family:Verdana,Helvetica;
}

button:hover{
    cursor:hand;
    background:#20b2aa;
}

p.listas {
    color: gray;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc,
               0 1px 0 black,
               0 2px 0 yellow,
               0 20px 20px rgba(0,0,0,.25);    
}

li {
    color: blue;
    line-height : 25px;
}

a {
    color: black;
    font-weight: bold;    
}

body {
    background-color: #B0C4DE;
    font-family:Courier New;
    background-image: linear-gradient(-50deg, #B0C4DE, #f2f2f2);
}
